.content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 20px;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    line-height: 1.6;
}

.header {
    font-family: 'Merienda', cursive;
    font-size: 45px;
    font-weight: 400;
    color: #000;
    padding-top: 30px;
}