.mainSection {
    background-image: url("../images/MainBackground.png");
    background-size: cover;
    background-position: top;
    text-align: center;
    margin-top: -21px;
    background-color: rgb(205, 250, 235);
}

.mainSection__header {
    font-family: 'Merienda', cursive;
    font-weight: 400;
    color: #fff;
    padding-top: 20px;
}

.mainSection__content {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #1A7F72;
}

.mainSection__button {
    width: 150px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 50px;
    background-color: #1A7F72;
    color: #fff;
}

.mainSection__image {
    width: 300px;
}